<?xml version="1.0"?>

<launch>

  <arg name="robot_name" default="kinect_camera_0"/>

  <node pkg="robot_keyboard_controller" name="RobotKeyboardController" type="RobotKeyboardController.py" output="screen">
    <rosparam param="/robot_name" subst_value="True">$(arg robot_name)</rosparam>
  </node>

</launch>

